.user_info_divider {
  margin: 10px;
  margin-top: 30px;
  background-color: #483434;
  width: 275px;
  height: 1px;
  border-radius: 2px;
}

.user_change_info_button {
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
  height: 35px;
  background-color: transparent;
  color: #606459;
  padding: 8px 20px;
  border: 1px solid #606459;
  transition: all 0.3s ease-out;
  font-size: 1em;
}

.user_change_info_button:hover {
  cursor: pointer;
  background: #ebc479;
  color: #606459;
  transition: all 0.3s ease-out;
}
