.banner {
  background-color: red;
  color: #fff;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.form-container {
  width: 100%;
  height: 700px;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin-bottom: 0.5rem;
  color: #606459;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #606459;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 11px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  background-color: transparent;
  color: #606459;
  padding: 8px 20px;
  border: 1px solid #606459;
  transition: all 0.3s ease-out;
  font-size: 1.2em;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #ebc479;
  color: #606459;
  transition: all 0.3s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 20px;
  color: #606459;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.login_form_title_container {
  padding-bottom: 2em;
  width: 80%;

  font-size: 1.5em;
}

.register_success_container {
  display: grid;
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
}
