.divider_container {
  display: flex;
  align-items: center;
  color: #483434;
}

.divider_container > h2 {
  font-family: "PT Serif", serif;
  letter-spacing: 2px;
}

.short_horizontal_divider {
  background-color: #483434;
  width: 50px;
  height: 3px;
  border-radius: 2px;
}

.long_horizontal_divider {
  background-color: #483434;
  width: 100px;
  height: 3px;
  border-radius: 2px;
}
