.contact_form_container {
  width: 50%;
}

.contact_form_label {
  font-weight: bolder;
  margin-top: 30px;
}

.contact_form_container > input {
  margin-top: 10px;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
}

.contact_form_container > textarea {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  height: 90px;
  outline: none;
}

@media only screen and (max-width: 960px) {
  .contact_form_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
  }
}

.contact_form_button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  height: 35px;
  background-color: transparent;
  color: #606459;
  padding: 8px 20px;
  border: 1px solid #606459;
  transition: all 0.3s ease-out;
  font-size: 1em;
}

.contact_form_button:hover {
  cursor: pointer;
  background: #ebc479;
  color: #606459;
  transition: all 0.3s ease-out;
}

.is_sent_label {
  text-align: center;
  font-size: small;
}

.contact_form_error_message {
  color: red;
  font-size: 11px;
}
