.new_films_container {
  width: 100%;
  height: 50%;
  margin-top: 10vh;
}

.new_films_grid_container {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 200px);
}
