.contact_info_container {
  width: 50%;
}

.contact_info_container > h2,
h3 {
  color: #606459;
  font-family: "PT Serif", serif;
}

.contact_info_container > p {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contact_info_container > href {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .contact_info_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
  }
}
