* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #f2e6dc;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
