.rental_info_container {
  position: sticky;
  top: 200px;
  margin-top: 50px;
  margin-left: 40px;
  width: 400px;
  height: 500px;
  background-color: #f5b114;
  border-radius: 15px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.rental_info_container > h3 {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  color: #32362d;
  font-family: "PT Serif", serif;
  font-size: 1.5em;
}

.rental_info_container > p {
  position: absolute;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: 40px;
}

.rental_info_divider {
  margin-left: 25px;
  position: absolute;
  margin-top: 85px;
  width: 350px;
  height: 3px;
  border-radius: 2px;
  background-color: #606459;
}
